




compose.yaml
compose.yml

compose.y
compose.

compose.ymly






















A
A
A
A
A
A
A
A
A
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
B
sfa


B
B

C
compos

